:root {
    /* Aliases semânticos */
    --color-text-primary: var(--_white);
    --color-text-secondary: var(--_black);

    --color-bg-primary: var(--_blue-400);
    --color-bg-secondary: var(--_yellow-600);
    --color-primary-100: var(--_blue-100);
    --color-primary-500: var(--_blue-500);
    --color-primary-700: var(--_blue-700);
    --color-background: var(--_gray-900);


    /*--color-bg-primary: var(--_white);*/
    --color-border: var(--_gray-300);
    --color-border-button: var(--_gray-500);
    --color-button: var(--_gray-300);
    --color-button-hover: var(--_white);

    /* Images */
    --image-width-sm: var(--_image-wd-sm);

    --image-height-sm: var(--_image-ht-sm);
    --image-height-md: var(--_image-ht-md);

    /* Button */
    --button-width-sm: var(--_button-wd-sm);

    /* Bordas*/
    --border-width-sm: var(--_width-sm);
    --border-width-md: var(--_width-md);
    --border-width-lg: var(--_width-lg);

    --border-radius-sm: var(--_radius-sm);
    --border-radius-md: var(--_radius-md);
    --border-radius-lg: var(--_radius-lg);

    --border-shadow-sm: var(--_shadow-sm);
    --border-shadow-md: var(--_shadow-md);
    --border-shadow-xl: var(--_shadow-xl);

    /* Containers*/

    --container-width-lg: var(--_container-lg);

    /* Transition*/
    --transition-fast: var(--_fast);
    
    /* Breakpoints */
    --mobile-sm: var(--_bp-sm);
    --mobile-lg: var(--_bp-md);
    --desktop-md: var(--_bp-lg);
    --desktop-lg: var(--_bp-xl);
} 